.message {
    max-width: 886px;
    width: 100%;
    min-height: 315px;
    background: #FFFFFF;
    border-radius: 1px;
    padding: 10px;
}

.wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    
}

.content {
    overflow: hidden;
}

.then {
    background: none;
    border: none;
    transition: ease-in-out;
}

.then:hover {
    cursor: pointer;
    opacity: 0.6;
}
