.button {
    background: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 64px;
    height: 28px;
    border: 1px solid #0088EE;
    border-radius: 2px;
    color: #0088EE;
    transition: ease-in-out;
}

.button:hover {
    cursor: pointer;
    opacity: 0.6;
}
